@import url('@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap);

h1 {
	color: #575756;	
	font-weight: bolder;
}
h2 {
	color: #3C4E41;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	background: white;
	background-image: url("background.jpg");
	opacity: 85%;
}
div {
		background-color: white;
    text-align: center;
    padding: > 24px;
    padding: 24px;
    width: 60%;
    margin: 16px auto;
    border-radius: 2px;
    box-shadow: 2px 0px 3px 1px white;
}
#avatar {
	width: 125px;
	height: 125px;
	object-fit: cover;
	border-radius: 50%;
}
a {
	text-decoration: none;
}
.btn-green {
	color: white;
	background-color: #3C4E41;
	padding: 8px 16px;
	border-radius: 6px;
	font-weight: bolder;
	border: 1px solid #3C4E41;
	transition: 1s;
}
.btn-green:hover {
	background-color: white;
	color: #3C4E41;
	transition: 1s;
}
.list-inline {
	padding: 0;
	list-style: none;

}
.list-inline li {
display: inline;
margin: 0 16px;
font-size: 15px;

}
.contact-text {
	color: black;
}
.contact-text 
{
  text-decoration: none;
  background: linear-gradient(to top, #3C4E41 0%, #3C4E41 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}

.contact-text:hover {
  background-size: 100% 100%;
}
.image-transition {
	transition: 2s;
}
.food-image {
	width: 200px;
	height: 150px;
	object-fit: cover;
}
.france-image {
	width: 200px;
	height: 150px;
	object-fit: cover;
}
@media (min-width: 576px) {
	div {
		width: 450px;
	}
}

@media (min-width: 768px) { 
div {
		width: 550px;
	} }

@media (min-width: 992px) { 
div {
		width: 650px;
	}
	}

@media (min-width: 1200px) { 
div {
		width: 750px;
	}
}
